#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.center-container {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-input {
  text-align: center;
  margin-bottom: 10px;
}

.input-form {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid #ccc;
}

.input-field {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 8px 16px;
  margin-left: 8px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
