CSE Major Requirements
General College of Engineering Requirements Hours
Engr 1100 Introduction to Ohio State and Computer Science and Engineering 1
Engr 1181 and Engr 1182 Fundamentals of Engineering I and II 4
Math 1151 and Math 1172 Calculus I and Engineering Mathematics A 10
Physics 1250 Mechanics, Thermal Physics, Waves 5
Computer Science Core
CSE 2221 and CSE 2231 Software I: Software Components and Software II: Software Development and Design 8
CSE 2321 and CSE 2331 Foundations I: Discrete Structures and Foundations II: Data Structures and Algorithms 6
CSE 2421 and CSE 2431 Systems I: Introduction to Low-Level Programming and Computer Organization and Systems II: Introduction to Operating Systems 7
CSE 3341 Principles of Programming Languages 3
Choose one of the following:
CSE 2501 Social, Ethical, and Professional Issues in Computing 1
Philos 1338 Ethics in the Professions: Introduction to Computing Ethics and Effective Presentation 4
Non-Computer Science Core
ECE 2020 and ECE 2060 Introduction to Analog Systems and Circuits and Introduction to Digital Logic 6
Math 2568 and Math 3345 Linear Algebra and Foundations of Higher Mathematics 6
Stat 3470 Introduction to Probability and Statistics for Engineers 3
Computer Science Core Choices (requirements for specialization option may dictate core choices)
CSE 3231 or CSE 3241 Software Engineering Techniques or Introduction to Database Systems 3
CSE 3421 or CSE 3461 Introduction to Computer Architecture or Computer Networking and Internet Technologies 3
CSE 3521 or CSE 3541 Survey of Artificial Intelligence I: Basic Techniques or Computer Game and Animation Techniques 3
Choose one of the following:
CSE 3901 Project: Design, Development, and Documentation of Web Applications 4
CSE 3902 Project: Design, Development, and Documentation of Interactive Systems 4
CSE 3903 Project: Design, Development, and Documentation of System Software 4
Choose one of the following:
CSE 5911 Capstone Design: Software Applications 4
CSE 5912 Capstone Design: Game Design and Development 4
CSE 5913 Capstone Design: Computer Animation 4
CSE 5914 Capstone Design: Knowledge-Based Systems 4
CSE 5915 Capstone Design: Information Systems 4
CSE Math and Science Electives (choose at least 8 hours)
Math 2153 Calculus III 4
Math 2255 or Math 2415 Differential Equations and Their Applications or Ordinary and Partial Differential Equations 3
Stat 4201 Introduction to Mathematical Statistics I 4
Stat 5301 Intermediate Data Analysis I 4
Anthrop 2200 Introduction to Physical Anthropology 4
Biology 1113 Biological Sciences: Energy Transfer and Development 4
Biology 1114 Biological Sciences: Form, Function, Diversity, and Ecology 4
Chem 1210 General Chemistry I 5
Chem 1250 General Chemistry for Engineers 4
EarthSc 1121 The Dynamic Earth 4
EarthSc 1122 Earth Through Time 4
ENR 2100 Introduction to Environmental Science 3
ENR 3000 and ENR 3001 Soil Science and Soil Science Laboratory 4
FdScTe 2200 The Science of Food 3
HCS 2201 Ecology of Managed Plant Systems 4
HCS 2202 Form and Function in Cultivated Plants 4
Physics 1251 E&M, Optics, Modern Physics 5
CSE Technical Electives (choose at least 17 hours that meet the following criteria)
Any CSE course 3000-level or above not already used to fulfill another requirement
Requirements for specialization option may dictate technical elective choices
At most 2 hours of CSE 4251-4256
At most 2 hours of CSE 4193(H), 3 hours of 4998(H), or 6 hours of 4999(H) AND no more than 6 hours total of 4193/4998/4999 combined
At most 8 hours of non-CSE courses at the 2000-level and above approved by the academic advisor
General Education (choose at least 24 hours)


The new GE program is an essential component of a three-part academic experience for Ohio State undergraduates


General Education program
One or more major program(s)
Electives
The university is committed to ensuring that implementation of the new GE will not adversely affect any student's progress toward degree completion. New first-year students starting at Ohio State in the autumn 2022 semester or later will complete the new GE program as part of their bachelor's degree requirements.


Transfer students who begin in autumn 2022 can petition to participate in the legacy (college-specific) GE rather than the new GE . Advisors will help students with the decision and with the filing of the petition.


Benefits of the new GE
The new GE is an integrated, broad-based, core education that envelopes multiple disciplines, enhances a student's major program, and inspires critical thinking and innovation.


GE requirements have been reduced, giving students more flexibility to pursue electives, minors or second majors.
Old credit requirement: 44-69 hours
New credit requirement: 32-39 hours
All undergraduate colleges will adhere strictly to the same GE model; there will no longer be college-specific GEs. This means students who change majors or add a second major won't find themselves trying to meet two different GE requirements.
The new GE defines clear learning objectives and recognizes that data analysis, technology and advanced writing are essential for a contemporary undergraduate education.
The new GE embeds assessment mechanisms to monitor effectiveness and student success. Consequently, the new GE will be reviewed regularly and updated as needed.
The new GE is a multiyear program in which courses build upon each other, rather than a menu of unconnected courses. It begins with an introductory seminar and concludes with a capstone in which students demonstrate how their thinking has evolved over the course of their undergraduate studies. Consequently, these Bookend courses give the program cohesiveness.
General Education pathway
A circular chart of the General Education pathway. Step 1 is the launch seminar that introduces you to the broad goals of the GE and the skills you will need to succeed. Step 2 is the foundations courses that introduce you to a variety of academic disciplines to better understand different ways of analyzing and understanding the world. Students will take one course in each of seven distinct categories. Step 3 is the themes courses that develop a deeper understanding of complex topics that are vital to addressing major 21st-century questions. All students are required to take Citizenship for a Diverse and Just World plus one additional course in a theme of their choosing. Step 4 is the reflection seminar that helps you document and reflect on your academic and personal growth. It also prepares you to explain to potential employers what skills and knowledge you gained from college.


The new GE is a coherent three-part program requiring 32 to 39 hours (reduced from 44 to 69 hours). The new GE consists of:


Bookend courses (2 hours) Students will take a launch seminar and a concluding reflection seminar to begin and end the GE program.
Foundation courses (22-25 hours) -- Students will take one course in each of seven distinct disciplines.
Theme courses (8-12 hours) -- All students will take courses in the Citizenship for a Diverse and Just World Theme (4-6 hours) and in one additional Theme of their choosing:
Lived Environments (4-6 hours)
Migration, Mobility, Immobility (4-6 hours)
Number, Nature, Mind (4-6 hours)
Origins and Evolution (4-6 hours)
Sustainability (4-6 hours)
Traditions, Cultures, and Transformations (4-6 hours)
Health and Well-being (4-6 hours)


CSE Sample Schedule with Credit Hours:
Autumn Year 1
Engr 1100 1
Engr 1181 2
Math 1151 5
Physics 1250 5
CSE 1223 3


Spring Year 1
CSE 2221 4
Engr 1182 2
Math 1172 5
English 1110 3
GE 3


Autumn Year 2
CSE 2231 4
CSE 2321 3
Stat 3470 3
Math or Science Elective 3-5
GE 3


Spring Year 2
CSE 2331 3
CSE 2421 4
ECE 2060 3
Math 3345 3
GE 3


Autumn Year 3
CSE 2431 3 
CSE 390X 4
ECE 2020 3
Math 2568 3
GE 3


Spring Year 3
CSE 32X1 3
CSE 34X1 3
CSE 35X1 3
CSE 2501 1
GE 3 Math or Science Elective 3-5
GE 3


Autumn Year 4
CSE 3341 3
Technical Elective 3
Technical Elective 3
Technical Elective 3
GE 3


Spring Year 4
CSE 591X 4
Technical Elective 3
Technical Elective 3
Technical Elective 2
GE 3