<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Add css style to center body text, lists, and tables. 
Also create border and enable border collapsing for table-->
<style type="text/css">
body {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse
}

tr, td, th {
	border: 1px solid black;
	border-collapse: collapse
}

ul {
	display: inline-block;
	text-align: center;
}

li {
	text-align: left;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ian's Home Page</title>
</head>

<body>
	<!-- Use Large Header for Page Title -->
	<h1>Ian's Home Page!</h1>
	<!-- Greet Website Visitor and display picture of me -->
	<p>
		Hello and welcome to my home page! My name is Ian and here's a picture
		of me: <br></br> <br></br> <img src="Headshot.jpg" id="MyPicture"
			alt="A Picture of Me"></img> <br></br> <br></br>
	</p>
	<!-- Make a list with some facts about me -->
	<h3>Here are a few things about me:</h3>
	<ul>
		<li>I was born in Fairview, PA</li>
		<li>I moved to the Columbus area ten years ago</li>
		<li>My immediate family has people born on three different
			continents.</li>
	</ul>

	<!-- Make a Table with 3 columns to rank games -->
	<h3>Here is a table ranking some games I've played:</h3>
	<table class="gameTable">
		<tr>
			<th>Great!</th>
			<th>Okay</th>
			<th>Not worth my time</th>
		</tr>
		<tr>
			<td>Halo: MCC</td>
			<td>Rainbow Six: Siege</td>
			<td>MW3 2023</td>
		</tr>
		<tr>
			<td>My Version of Galaga!</td>
			<td>Jackbox Party Pack 7</td>
			<td>Battlefield 2042</td>
		</tr>
	</table>
	<!-- Make an external hyperlink to the website with my version of Galaga -->
	<p>
		<br></br> <a href="https://u.osu.edu/fe1181au23sec7130k/"><b>Here</b></a>
		is the link to the version of Galaga I mentioned previously, which I
		made along with my team for the Software Development Project in ENGR
		1181. <br></br>Hope you enjoy it... if you have an active MATLAB
		license.
	</p>
</body>

</html>